@{ ViewData["Title"] = "Home Page"; }

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis assumenda
  libero explicabo. Fuga cum harum debitis, incidunt dolor, animi nemo earum
  veritatis magni eaque ullam expedita minima similique quibusdam error ducimus
  maiores alias perspiciatis sapiente tenetur excepturi voluptates.
</p>
