@{
    ViewData["Title"] = "home";
    var links = ViewBag.Links as List<Personal.Models.Link>;
    var homePage = ViewBag.HomePage as Personal.Models.Page;
}

<img src="~/img/greeting.png" class="img-fluid w-50 mb-3" alt="Greeting" />

<p>@homePage.Content</p>
<h2 class="h5 mb-3">Social Media:</h2>
<ul class="list-unstyled">
    @foreach (var link in links)
    {
        <li><a target="_blank" href="@link.URL" class="text-decoration-none">@link.Title</a></li>
    }
</ul>
