@{
    ViewData["Title"] = "resume";
}

<p>
    Fugit unde molestiae, impedit libero nulla magni earum quia tempora
    vel alias nesciunt modi asperiores omnis optio quisquam cupiditate vero error enim maxime. Similique pariatur
    veritatis sint itaque, veniam iste soluta?
</p>
