@{
    ViewData["Title"] = "resume";
}
<p>Fugit unde molestiae, impedit libero nulla magni earum quia. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Eveniet, perspiciatis.</p>

<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-success">
        <i class="fa fa-download"></i> Download Resume
    </button>
</div>
