@{ ViewData["Title"] = "resume"; }

<p>@Model.Content</p>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <a href="~/files/resume.pdf" download class="btn btn-outline-success">
    <i class="fa fa-download"></i> Download Resume
  </a>
</div>
